<article class="offset-lg-2 col-lg-8 row">
  <header class="col-lg-12">
    <a href="#"><h3>title</h3></a>
  </header>
  <section class="section-post-content">
      My content
    <a class="post-link-arrow"> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  </section>
  <section class="col-lg-12">
    <span href="#">Octo</span>
    <time class="post-date date">01/02/2018</time>
  </section>
  <hr class="post-divider col-lg-12">
</article>
<div class="col-lg-12" *ngIf="!posts?.length">
    <h3>No post</h3>
</div>

