<article class="offset-lg-2 col-lg-8 row" *ngFor="let post of posts">
  <header class="col-lg-12">
    <a [routerLink]="['',post?.id]"><h3>{{post?.title}}</h3></a>
  </header>
  <section class="section-post-content">
      {{post?.content}}
    <a class="post-link-arrow"> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  </section>
  <section class="col-lg-12">
    <span href="#">{{post?.author}}</span>
    <time class="post-date date">{{post?.date| date:'medium'}}</time>
  </section>
  <hr class="post-divider col-lg-12">
</article>
<div class="col-lg-12" *ngIf="!posts?.length">
    <h3>No post</h3>
</div>

