<div class="row">
  <div class="col-lg-12 border-bottom">
    <header id="post-url-header">
      <input tabindex="1" id="input-title" type="text" id="post-url" placeholder="Your post title"
      />
      <div id="action-bar">
        <button tabindex="3" class="btn btn-primary" type="button" id="save-post" name="save-post">Save
        </button>
      </div>
    </header>
  </div>
</div>
<div class="row full-height">
  <div class="col-lg-12" contenteditable="true">
    <div class="input-group full-height">
      <textarea tabindex="2" class="form-control full-height" id="post-input">

      </textarea>
    </div>

  </div>

</div>
